# Author:Shazia Imran Shaikh

# Topic:Loan Predictions Using ML

In [1]:
%matplotlib inline
import numpy as np 
import pandas as pd
import seaborn as sns
sns.set(style='darkgrid')
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Loan_data.csv")

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df=df.dropna()

In [5]:
df.reset_index(drop=True)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
476,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
477,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
478,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
479,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [7]:
df['Dependents'] = df['Dependents'].str.rstrip('+')
df['Dependents'] = df['Dependents'].astype(np.int32)
df['Gender'] = df['Gender'].map({'Female':0,'Male':1}).astype(np.int32)
df['Married'] = df['Married'].map({'No':0, 'Yes':1}).astype(np.int32)
df['Education'] = df['Education'].map({'Not Graduate':0, 'Graduate':1}).astype(np.int32)
df['Self_Employed'] = df['Self_Employed'].map({'No':0, 'Yes':1}).astype(np.int32)
df['Loan_Status'] = df['Loan_Status'].map({'N':0, 'Y':1}).astype(np.int32)
df['Property_Area'] = df['Property_Area'].map({'Rural':0, 'Urban':1,'Semiurban':2}).astype(np.int32)

In [8]:
df.head(100)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,LP001451,1,1,1,1,1,10513,3850.0,160.0,180.0,0.0,1,0
131,LP001473,1,0,0,1,0,2014,1929.0,74.0,360.0,1.0,1,1
132,LP001478,1,0,0,1,0,2718,0.0,70.0,360.0,1.0,2,1
133,LP001482,1,1,0,1,1,3459,0.0,25.0,120.0,1.0,2,1
134,LP001487,1,0,0,1,0,4895,0.0,102.0,360.0,1.0,2,1

In [9]:
df.dtypes

Loan_ID               object
Gender                 int32
Married                int32
Dependents             int32
Education              int32
Self_Employed          int32
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int32
Loan_Status            int32
dtype: object

Dividing the given train dataset in the form of features and target variables

In [10]:
X,y  = df.iloc[:, 1:-1], df.iloc[:, -1]

In [11]:
df.corr()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Gender,1.000000,0.349424,0.217510,-0.059245,-0.002761,0.032644,0.156171,0.098975,-0.088704,0.022447,-0.097035,0.064504
Married,0.349424,1.000000,0.386367,-0.001652,0.015674,0.036717,0.102950,0.183442,-0.107504,0.029095,0.028167,0.112321
Dependents,0.217510,0.386367,1.000000,-0.028608,0.045754,0.131139,-0.000318,0.172780,-0.096361,-0.026651,-0.030838,0.035428
Education,-0.059245,-0.001652,-0.028608,1.000000,0.005085,0.131172,0.074499,0.172780,0.102168,0.056656,0.060010,0.068437
Self_Employed,-0.002761,0.015674,0.045754,0.005085,1.000000,0.170785,-0.001509,0.120389,-0.034852,-0.023568,-0.037900,-0.034715
ApplicantIncome,0.032644,0.036717,0.131139,0.131172,0.170785,1.000000,-0.112588,0.495310,-0.010838,-0.056152,-0.024586,-0.043152
CoapplicantIncome,0.156171,0.102950,-0.000318,0.074499,-0.001509,-0.112588,1.000000,0.190740,-0.005775,-0.008692,-0.004348,-0.049020
LoanAmount,0.098975,0.183442,0.172780,0.172780,0.120389,0.495310,0.190740,1.000000,0.050867,-0.040773,-0.039807,-0.071753
Loan_Amount_Term,-0.088704,-0.107504,-0.096361,0.102168,-0.034852,-0.010838,-0.005775,0.050867,1.000000,0.032937,-0.000568,-0.007798
Credit_History,0.022447,0.029095,-0.026651,0.056656,-0.023568,-0.056152,-0.008692,-0.040773,0.032937,1.000000,0.040092,0.529390
Property_Area,-0.097035,0.028167,-0.030838,0.060010,-0.037900,-0.024586,-0.004348,-0.039807,-0.000568,0.040092,1.000000,0.153843
Loan_Status,0.064504,0.112321,0.035428,0.068437,-0.034715,-0.043152,-0.049020,-0.071753,-0.007798,0.529390,0.153843,1.000000

In [12]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)

In [13]:
# We split the X into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (384, 11) (384,)
Test set: (96, 11) (96,)

In [14]:
#C is inverse to lambda .
#It is the hyperparameter which controls the regularization basically to avoid overfitting the model.
from sklearn.linear_model import LogisticRegression
LR_model = LogisticRegression(C=0.01).fit(X_train,y_train)
LR_model

LogisticRegression(C=0.01)

In [15]:
y_test=y_test.ravel()
y_test

array([0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1])

In [16]:
y_pred = LR_model.predict(X_test)
y_pred=y_pred.ravel()
y_pred

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1])

In [17]:
#Predict will give either 0 or 1 as output
#Predict_proba will give the only probability of occurence of 0 and 1.
LR_yhat_prob = LR_model.predict_proba(X_test)
LR_yhat_prob

array([[0.34037954, 0.65962046],
       [0.22518036, 0.77481964],
       [0.23874808, 0.76125192],
       [0.20618965, 0.79381035],
       [0.18266427, 0.81733573],
       [0.30481944, 0.69518056],
       [0.24221699, 0.75778301],
       [0.52107945, 0.47892055],
       [0.25557668, 0.74442332],
       [0.19840901, 0.80159099],
       [0.5826325 , 0.4173675 ],
       [0.24625342, 0.75374658],
       [0.27808547, 0.72191453],
       [0.34497656, 0.65502344],
       [0.24693077, 0.75306923],
       [0.21830983, 0.78169017],
       [0.2387195 , 0.7612805 ],
       [0.25740893, 0.74259107],
       [0.27523173, 0.72476827],
       [0.22367022, 0.77632978],
       [0.56188821, 0.43811179],
       [0.22898087, 0.77101913],
       [0.33538293, 0.66461707],
       [0.33756816, 0.66243184],
       [0.50473228, 0.49526772],
       [0.52967624, 0.47032376],
       [0.51621847, 0.48378153],
       [0.24407841, 0.75592159],
       [0.24225074, 0.75774926],
       [0.21370762, 0.78629238],
       [0.28850055, 0.71149945],
       [0.18579378, 0.81420622],
       [0.5781295 , 0.4218705 ],
       [0.19904621, 0.80095379],
       [0.54750595, 0.45249405],
       [0.61558699, 0.38441301],
       [0.26241608, 0.73758392],
       [0.1955107 , 0.8044893 ],
       [0.25269198, 0.74730802],
       [0.25696497, 0.74303503],
       [0.216578  , 0.783422  ],
       [0.2641378 , 0.7358622 ],
       [0.31166478, 0.68833522],
       [0.30222261, 0.69777739],
       [0.26863695, 0.73136305],
       [0.22373431, 0.77626569],
       [0.24179056, 0.75820944],
       [0.2237417 , 0.7762583 ],
       [0.33610852, 0.66389148],
       [0.23915024, 0.76084976],
       [0.30075917, 0.69924083],
       [0.20275597, 0.79724403],
       [0.20600009, 0.79399991],
       [0.20252101, 0.79747899],
       [0.64207949, 0.35792051],
       [0.23900784, 0.76099216],
       [0.28163112, 0.71836888],
       [0.19262971, 0.80737029],
       [0.54371263, 0.45628737],
       [0.29096326, 0.70903674],
       [0.20204072, 0.79795928],
       [0.27452327, 0.72547673],
       [0.34962198, 0.65037802],
       [0.26219164, 0.73780836],
       [0.19687408, 0.80312592],
       [0.25118898, 0.74881102],
       [0.26909947, 0.73090053],
       [0.28011343, 0.71988657],
       [0.22056344, 0.77943656],
       [0.21481508, 0.78518492],
       [0.19001571, 0.80998429],
       [0.24262486, 0.75737514],
       [0.52607661, 0.47392339],
       [0.23534515, 0.76465485],
       [0.59591406, 0.40408594],
       [0.28597368, 0.71402632],
       [0.24843465, 0.75156535],
       [0.27981298, 0.72018702],
       [0.19991993, 0.80008007],
       [0.21132991, 0.78867009],
       [0.30776974, 0.69223026],
       [0.26727009, 0.73272991],
       [0.23947127, 0.76052873],
       [0.22804308, 0.77195692],
       [0.26927429, 0.73072571],
       [0.29237425, 0.70762575],
       [0.19104431, 0.80895569],
       [0.47788124, 0.52211876],
       [0.20153166, 0.79846834],
       [0.23795259, 0.76204741],
       [0.28441451, 0.71558549],
       [0.578736  , 0.421264  ],
       [0.22026348, 0.77973652],
       [0.2067971 , 0.7932029 ],
       [0.27874915, 0.72125085],
       [0.32613653, 0.67386347]])

In [18]:
LR_yhat_prob.shape

(96, 2)

In [19]:
#The F-score, also called the F1-score, is a measure of a model’s accuracy on a dataset
#The F-score is a way of combining the precision and recall of the model, and it is defined as the harmonic mean of the model’s precision and recall.
from sklearn.metrics import f1_score
print("Logistic Regression F1-score: %.2f" % f1_score(y_test, y_pred) )

Logistic Regression F1-score: 0.83

In [20]:
from sklearn.metrics import mean_absolute_error
#evaluation predictions
mae=mean_absolute_error(y_test,y_pred)
print('MAE:%.3f'% mae)

MAE:0.260

In [21]:
#Log-loss is indicative of how close the prediction probability is to the corresponding actual/true value (0 or 1 in case of binary classification). 
#The more the predicted probability diverges from the actual value, the higher is the log-loss value.
from sklearn.metrics import log_loss
"LR LogLoss:%.2f"%(log_loss(y_pred, LR_yhat_prob))

'LR LogLoss:0.34'

In [22]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix
#The result is telling us that we have 12+59=71 correct predictions and 2+23=25 wrong predictions.(71+25=96)

array([[12, 23],
       [ 2, 59]], dtype=int64)